/* 
    Document   : inheritance
    Created on : Sep 20, 2013, 12:27:04 AM
    Author     : Thurairaj
    Description:
        Purpose of the stylesheet follows.
*/

root{ 
    display: block;
}

div{
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;  
    
}


.centered {
   position: absolute; 
   width: 350px;
   height: 150px;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;   
   bottom: 0;
   
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border-radius: 8px 8px 8px 8px;
   background-color: lightgray;     
}



.txt-input {
    width: 200px;
    height: 20px;
    padding: 5px;
    margin: 2px;
    font-family: inherit;
    font-size: 15px;
    color: rgb(26, 21, 64);
    line-height: 20px;
}



.loginPage {
    background: url(loginPic.jpg) repeat; 
    background-size: cover;
    opacity:0.9;
}

.loginHead {    
    font-size: 20px;
    padding:0px 0 15px 0px;
    font-weight: bolder;
}

.remember{
    font-size: 12px;
    
}