/* 
    Document   : clientPage
    Created on : Oct 12, 2013, 11:11:13 PM
    Author     : Thurairaj
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.body{
    margin:0px;
    padding:0px;

}

nav{   
    position: relative;
    margin: 0px;    
    top:0px; 
    width: 100%;
    float:left;
    z-index: 3;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    background: #063501; 
    background: linear-gradient(top, #063501 0%, #0D4207 100%);  
    background: -moz-linear-gradient(top, #063501 0%, #0D4207 100%); 
    background: -webkit-linear-gradient(top, #063501 0%,#0D4207 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    width: 100%;
    padding: 0 0px; 
    list-style: none;
    position: relative;
    top:0px;
    display: inline-table;
    margin-top: 0px;
}

nav ul:after {
    content: ""; clear: both; display: block;
}
        
nav ul li {
    float: left;
    color: white;
    height: 60px;
    width:10%;
}

.special{
    width:78%;
}

nav ul li:hover {
    background: #386E32;
    background: linear-gradient(top, #084B00 0%, #386E32 40%);
    background: -moz-linear-gradient(top, #084B00 0%, #386E32 40%);
    background: -webkit-linear-gradient(top, #084B00 0%,#386E32 40%);
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
}

nav ul ul {
    background: #386E32; 
    border-radius: 0px;
    padding: 0;
    width: 10%;
    position: absolute;
    top: 100%;
    
}

nav ul ul li {
    float: none; 
    background: #386E32; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    height: 100%;
    position: relative;
    width: 150%;
    
}

.specialLi {
    float: right; 
    
}

nav ul ul li a {
    display: block;
    padding: 10px 40px;
    color: white;
    height: 100%;
    width: auto;
    text-decoration: none;
}	

nav ul ul li a:hover {
    background: #60C157;
}

.imageIcon{
    width:40px;
}

.header{
    margin: 0px;
    padding: 5px;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
}

.views{
    margin-top: 20px;
    width:35%;
    padding: 10px;
    clear:both;
    float:right;
}

.views button{
    
    float: left;
    width:25%;
    border-style: solid;
    border-color: #063501;
    border-width: 3px;
    box-shadow: none;
    border-right: none;
    
    font-size: 1.5em;
    font-family:Helvetica;
    font-weight: bolder;
    color:#063501;
    
    background-color: white;
    margin:0px;
    outline:none;
    
}

.views button:first-child{
    border-radius: 10px 0px 0px 10px;
}

.views button:last-child{
    border-radius: 0px 10px 10px 0px;
    border-right-color: #063501;
    border-right-style: solid;
    border-right-width: 3px;
            
}

.views button:disabled{
    background: #386E32;
    color: white;
   border-color: #063501;
}

.views button:hover{
    background: #084B00 ;
    color: white;
    outline:none;
    border-color:  #386E32;
}

.calender{
    position:relative;
    float: left;
    clear:both;
    margin: 5%;
    margin-bottom: 5px;
    margin-top: 20px;
    width:80%;
    height:auto;
    color:black;
    background-color: transparent;
    border:2px solid #a1a1a1;
}

.calender button{
    opacity: 0.05;
    position: absolute;
    top:50%;
    font-size: 3em;
    z-index: 100;
    background-color: lightgray;
    border-style: none;
    outline:none;

}

.calender button:hover{
    opacity: 1;
    font-weight: bolder;
    color: gray;
}

.calender button:active{
    opacity: 1;
    font-weight: bolder;
    background-color:gray;
    color: lightgray
}

#next{
     right:0%;
}

#prev{
     left:0%;
}


.bottom{
   outline: none;
   position:relative;
   clear:both;
   margin: 4%;
   padding: 10px;
   padding-left: 40px;
   width:80%;
   height:60px;   /* Height of the footer */
   background:transparent;
}
