/* 
    Document   : clientPage
    Created on : Oct 12, 2013, 11:11:13 PM
    Author     : Thurairaj
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    margin:0px;
    padding:40px;
	background-color:rgb(255,244,230);

}


.main{
	width:100%;
	height:auto;
	background-color:rgb(255,244,230);
	
}


.container{
	position:relative;
	float: left;
	margin-right:30px;
	margin-bottom:20px;
	width:350px;
	height:200px;
	background-color:#6198C2;
	border-radius:10px;
	padding : 20px;
	overflow:hidden;
}

h2, p{
	display:inline-block;
	margin:0px;
	padding:0px;
	color:white;
	
	width:100%;
	
	font-family:Arial;
	font-weight:bold;
}

label{
	margin-left:0px;
	width: 100px;
	word-wrap:break-word;
	font-size:1em;
	font-weight:bold;
	color:white;
	font-family:Arial;
}

.special{
	margin-top : 30px;
}

.close{
	position:absolute;
	top:10px;
	right:10px;
	
    background-color: #C94D4D;
    font-size: 1em;
    font-family: Arial;
    
    
    width:auto;
    height: auto;
	
	padding :5px;
    
	border-radius:1px 8px 1px 1px;
	border-style:none;
	
    color:white;
	
    text-align: center;
}

.specialSubmit{
	position: absolute;
	height : 30px;
	width : 50px;
	
	border-radius:5px;
	border-style:none;
	
	font-size:0.8em;
	
	background-color: #273D4E;
	color:white;
	
	
	bottom:20px;
	left:20px;
}

.extraSpecial{
	left:80px;
}

input[type=submit]:active{
	background-color:black;
}

input[type=text]{
	
	background-color:white;
	color:black;
	border:none;
	border-radius:5px;
	height:1.5em;
	font-size:1em;
	width:230px;
	padding-left:1px;

}


input[type=text]:disabled{
	border:none;
	background-color:#6198C2;
	color:white;
	 -webkit-text-fill-color: white;
	font-size:1em;
	height:1.5em;
	width:230px;
}

ul{
list-style-type:none;
list-style-position:outside;
margin:0px;
padding:0px;
}

li{
	margin:10px;
}